# Files to ignore when considering what GIT should commit.

# Directories
.vs/
jp2_pc/Build/

# Visual Studio Files
*.sln
*.vcxproj
*.filters
*.user
*.aps

# OSX Hidden Files
.DS_Store
._*

#OpenTrespasser
jp2_pc/Build/*
