[submodule "jp2_pc/BuildTools/CMake"]
	path = jp2_pc/BuildTools/CMake
	url = https://github.com/OpenTrespasser/CMake
    branch = master
[submodule "jp2_pc/gtest"]
	path = jp2_pc/gtest
	url = https://github.com/google/googletest.git
