# Files to ignore when considering what GIT should commit.

# Directories
.vs/

# Visual Studio Files
*.sln
*.vcxproj
*.filters
*.user
*.aps

# OSX Hidden Files
.DS_Store
._*

#OpenTrespasser
jp2_pc/Build
jp2_pc/Archive
jp2_pc/Source/gblinc/versionGit.hpp

#CLion project files
jp2_pc/.idea/*
